Source: libshell-guess-perl
Section: perl
Priority: optional
Maintainer: C.J. Collier <cjcollier@linuxfoundation.org>
Build-Depends: debhelper (>= 9),
 perl
Standards-Version: 3.9.6
Homepage: https://metacpan.org/release/Shell-Guess

Package: libshell-guess-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Make an educated guess about the shell in use
 Shell::Guess makes a reasonably aggressive attempt to determine the shell
 being employed by the user, either the shell that executed the perl script
 directly (the "running" shell), or the users' login shell (the "login"
 shell). It does this by a variety of means available to it, depending on the
 platform that it is running on.
